name: Deploy Angular site to GitHub Pages
on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build Angular app
        run: npm run build -- --base-href /Portfolio/

      - name: Copy fallback for SPA
        run: cp dist/portfolio/browser/index.html dist/portfolio/browser/404.html


      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist/portfolio/browser


      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
